{% extends "playlists/base.html" %}

{% block title %}Exporter{% endblock %}

{% block content %}
    {% if platform == 'spotify' %}
        {% if access_expired %} 
            <input type='button' id='oauth-activate' value='Login to spotify'/>
                  
            <script>
                const btn = document.querySelector('#oauth-activate');
                const h1 = document.createElement('h1')
                h1.textContent = 'Please reload this page.' 
                        
                btn.onclick = async () => {
                    document.body.prepend(h1)
                    const win = window.open('{% url 'get-spotify' %}', 'Spotify Oauth', '_blank','width=500,height=800,toolbar=no,location=no');
                    const timer = setInterval(() => {
                        if ( win.closed) {
                            //window.location.reload()
                        }
                    }, 1000);
                };
            </script>
            {% endif %}
        {% endif %}
    {% if success %}
        <h1>PLAYLIST CREATED!</h1>
        <script>function OpenPlaylist(){window.open('https://open.spotify.com/playlist/{{spotify_playlist_uri}}')}</script>
        <input type='button' value='Open Playlist' onclick='OpenPlaylist()'>
    {% elif confirm_needed and not access_expired%}
    <h1>Would you like to import playlist: {{playlist_details.playlist_name}} to {{platform}}?</h1>
    <form action='#' method='post'>
        {%csrf_token%}
        <input type='submit' name='confirm' value='Confirmed' />
    </form>
    {% endif %}
{% endblock%}