{% extends "playlists/base.html" %}

{% block title %}My Saved Playlists{% endblock %}

{% block content %}
<a href='{% url "myPlaylists" %}'><h2>View my playlists.</h2></a>

<div class='d-flex flex-row flex-wrap'>
    {% for playlist in saved_playlists %}
    <div class="col-xl-3 col-lg-4 col-md-5">
        <div class="card" style="background:linear-gradient(#000000, #2D3436); width: 260px">
            <img
            onclick="window.location.href='{% url 'view' playlist_id=playlist.playlist_id %}'"
            src="{{  playlist.playlist_image }}"
            class="card-img-top rounded"
            alt="{{  playlist.playlist_name }}"
            height="190px"
            />
            <div class="card-body white-text">
            <h5 class="card-title" style="color: white">{{ playlist.playlist_name }}</h5>
            <p class="card-text" style="color: white">
                Export to:
            </p>
            <form action='{% url "export" %}' method='get'>
                <input type="hidden" name="id" value="{{playlist.playlist_id}}">
                <input type='submit' name='platform' value='spotify'>
                    {% comment %} <img src="{% static 'playlists/images/spotify_icon.PNG' %}" alt="Spotify favicon" class="rounded"  width="30px" height="30px"> {% endcomment %}
                {% comment %} </button> {% endcomment %}
                <input type='submit' name='platform' value='yt_music'>
                    {% comment %} <img src="{% static 'playlists/images/YouTubeMusic_icon.PNG' %}" alt="YouTube Music favicon" class="rounded"  width="30px" height="30px"> {% endcomment %}
                {% comment %} </button> {% endcomment %}
                <input type='submit' name='platform' value='apple'>
                    {% comment %} <img src="{% static 'playlists/images/AppleMusic_icon.PNG' %}" alt="Apple Music favicon" class="rounded"  width="30px" height="30px"> {% endcomment %}
                {% comment %} </button> {% endcomment %}
            <form>
            <button id='save' type="button" value="Copy URL" onclick="SavePlaylist({{playlist.playlist_id}})"><i class="fa-solid fa-bookmark"></i></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function SavePlaylist(id) {
        // Open the external website
        // Make an AJAX call to your Django view
        {% comment %} //$.get('save?id=' + {{playlist_data.playlist_id}}, function (data) { {% endcomment %}
        //});
    
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');
        const url = "../view/save"; // Replace with your API endpoint
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
              id: id,
            }),
            headers: {
                'X-CSRFToken':  csrftoken,
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .catch(error => {
            console.error("Error sending POST request:", error);
        });
        setTimeout(function(){
          window.location.reload(1);
        }, 1000);
      }    
</script>
{% endblock %}