{% extends "playlists/base.html" %}

{% block title %}My Saved Playlists{% endblock %}

{% block content %}
<a href='{% url "myPlaylists" %}'><h2>View my playlists.</h2></a>

<div class='d-flex flex-row flex-wrap'>
    {% for playlist in saved_playlists %}
    <figure class='container p-2 col'>
        <img class='img-fixed listed-playlist-image' onclick="window.location.href='{% url 'view' playlist_id=playlist.playlist_id %}'") src="{{  playlist.playlist_image }}" alt="" />
        <button id='save' type="button" value="Copy URL" onclick="SavePlaylist({{playlist.playlist_id}})"><i class="fa-solid fa-bookmark"></i></button>
        <figcaption>{{  playlist.playlist_name }}</figcaption>
    </figure>
    {% endfor %}
</div>
<script>
    function SavePlaylist(id) {
        // Open the external website
        // Make an AJAX call to your Django view
        //$.get('save?id=' + {{playlist_data.playlist_id}}, function (data) {
        //});
    
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');
        const url = "../view/save"; // Replace with your API endpoint
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
              id: id,
            }),
            headers: {
                'X-CSRFToken':  csrftoken,
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .catch(error => {
            console.error("Error sending POST request:", error);
        });
        setTimeout(function(){
          window.location.reload(1);
        }, 1000);
      }    
</script>
{% endblock %}