{% extends "playlists/base.html" %}

{% block title %}My Playlists{% endblock %}
{% load static %}
{% block content %}

<a href='{% url "saved_playlists" %}'><h2>View my saved playlists.</h2></a>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div onclick="window.location.href='{% url 'import' %}'" class="col-xl-3 col-lg-4 col-md-5">
                <div class="card" style="width: 260px">
                    <img class='img-fixed listed-playlist-image' src="{% static 'icons/plus_box.svg' %}" alt="create" />
                </div>
            </div>
            {% for playlist in playlists %}
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="card" style="background:linear-gradient(#000000, #2D3436); width: 260px">
                    <img
                    onclick="window.location.href='{% url 'view' playlist_id=playlist.playlist_id %}'"
                    src="{{  playlist.playlist_image }}"
                    class="card-img-top rounded"
                    alt="{{  playlist.playlist_name }}"
                    height="190px"
                    />
                    <div class="card-body white-text">
                    <h5 class="card-title" style="color: white">{{ playlist.playlist_name }}</h5>
                    <p class="card-text" style="color: white">
                        Export to:
                    </p>
                    <form action='{% url "export" %}' method='get'>
                        <input type="hidden" name="id" value="{{playlist.playlist_id}}">
                        <input type='submit' name='platform' value='spotify'>
                            {% comment %} <img src="{% static 'playlists/images/spotify_icon.PNG' %}" alt="Spotify favicon" class="rounded"  width="30px" height="30px"> {% endcomment %}
                        {% comment %} </button> {% endcomment %}
                        <input type='submit' name='platform' value='yt_music'>
                            {% comment %} <img src="{% static 'playlists/images/YouTubeMusic_icon.PNG' %}" alt="YouTube Music favicon" class="rounded"  width="30px" height="30px"> {% endcomment %}
                        {% comment %} </button> {% endcomment %}
                        <input type='submit' name='platform' value='apple'>
                            {% comment %} <img src="{% static 'playlists/images/AppleMusic_icon.PNG' %}" alt="Apple Music favicon" class="rounded"  width="30px" height="30px"> {% endcomment %}
                        {% comment %} </button> {% endcomment %}
                    <form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
